.nav {
    background-color: rgba(0, 0, 0, 0.9)!important;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
}

.divider {
    overflow: visible;
    margin-bottom: 18px;
}
.waves-effect {
    overflow: visible;
}

h1 {
    padding: 20px 0px 20px 0px;
}

/*Image Gallery code*/
#imageGallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.galleryItem {
  flex: 1 300px;
  margin: 0.5rem;
}
.galleryItem img {
  width: 100%;
}

#header a:hover {
    color: rgb(255, 171, 64);
}