body {
    font-family: 'Poiret One';
}
nav {
    background-color: #ffffff;
}
div nav a {
    color: black;
}
.brand-logo {
    padding-left: 10px !important;
    color: black !important;
}
.remove-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.remove-margin {
    margin-bottom: 0px;
}

.tint-image {
    filter: grayscale(60%);
    -webkit-filter: brightness(40%);
}

.tint-image:hover {
    -webkit-filter: grayscale(0%);
    -webkit-filter: brightness(100%);
}

.header-box {
    position: relative;
    z-index: 9990;
}

.overlay {
    position: absolute;
    z-index: 9999;
    color: white;
}
.welcome-text, .sub-welcome-text {
    color: white;
    z-index: 1000;
    text-align: center;
    padding: 0px;
    margin: 80px 20px 40px 20px;
}

@media screen and (max-width: 450px) {
    .welcome-text {
        font-size: 3rem;
        margin-top: 40px;
    }
    .sub-welcome-text {
        font-size: 2rem;
        margin-top: 20px;
    }
}
.album {
    text-align: center;
}
ul {
    z-index: 9999;
}
li {
    z-index: 9999;
}