body {
/*    font-family: 'Poiret One';*/
    font-family: 'Droid Serif', serif;
}
.card-content {
    font-family: 'Roboto', sans-serif;
}
.scroll-test {
    overflow-y: auto;
}
nav {
    font-family: 'Permanent Marker', cursive;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0);
}
.brand-logo {
    padding-left: 10px !important;
    font-size: 1.5em !important;
}
.nav-items-color {
    color: white;
}
.remove-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.remove-margin {
    margin-bottom: 0px;
}

.tint-image {
    filter: grayscale(60%);
    -webkit-filter: brightness(40%);
}

.tint-image:hover {
    -webkit-filter: grayscale(0%);
    -webkit-filter: brightness(100%);
}
.album-header {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.header-box {
    position: relative;
    z-index: 9990;
}

.overlay {
    position: absolute;
    z-index: 9999;
    color: white;
}
.welcome-text, .sub-welcome-text {
/*    color: white;*/
    z-index: 1000;
    text-align: center;
    padding: 0px;
    margin: 80px 20px 40px 20px;
    font-style: italic;
}
.welcome-text {
    font-style: italic;
}

@media screen and (max-width: 450px) {
    .welcome-text {
        font-size: 3rem;
        margin-top: 40px;
    }
    .sub-welcome-text {
        font-size: 2rem;
        margin-top: 20px;
    }
}
.album {
    text-align: center;
}
.page-footer {
    background-color: rgba(0, 0, 0, 0.8) !important;
}
.footer-copyright {
    text-align: center;
    color: #ffab40 !important;
}
.img-circle {
    border-radius: 50%;
    border: 5px solid #fff;
    max-width: 25%;
    height: auto;
}
@media screen and (max-width: 700px) {
.valign-wrapper {
    display: block !important;
}
}

.center-footer-content {
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
}

